
.root {
    -fx-background-color: #F5F4F4;
}

.theme-background {
    -fx-background-color: #E5E2E2;
    -fx-background: #E5E2E2;
}

.cell-background {
    -fx-background-color: #EBEDF0;
}

.theme-text {
    -fx-text-fill: #1E293B;
    -fx-fill: #1E293B;
}

.heatmap-grid {
    -fx-border-color: #CECDCD;
}

.toggle-tab {
    -fx-border-color: #CECDCD;
}

.toggle-tab:selected {
    -fx-background-color: #D6D2D2;
    -fx-border-color: #1E293B;
}

.menu-button.theme-text .label {
    -fx-text-fill: #1E293B; /* or your theme color */
}

.scroll-bar .track {
    -fx-background-color: #DDDDDD;
}

.scroll-bar .thumb {
    -fx-background-color: #AAAAAA;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-prompt-text-fill: #888888;
    -fx-text-fill: #1E293B;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #CCCCCC;
}

.task-checkbox .box {
    -fx-border-color: #888888;
    -fx-background-color: #FFFFFF;
}

.task-checkbox:selected .mark {
    -fx-background-color: #555555;
}

.task-checkbox:selected .text {
    -fx-fill: #888888;
    -fx-strikethrough: true;
}